extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | 
          small &nbsp;

  .row
   .col-lg-4
        .bs-component 
        .card.border-primary.mb-3(style='max-width: 20rem;')
            .card-header Blinding Lights

            .card-body
              h4.card-title 
                a(href='/songs/Blinding Lights') Blinding Lights
              p.card-text
                | "Blinding Lights" is a song by Canadian singer the Weeknd. It was released on November 29, 2019, through XO and Republic Records, as the second single from his fourth studio album, After Hours (2020).
   .col-lg-4
        .bs-component 
        .card.border-primary.mb-3(style='max-width: 20rem;')
            .card-header 
            .card-body
              h4.card-title 
                a(href='/songs/Starboy') Bones
              p.card-text
                | "Bones" is a song by American pop rock band Imagine Dragons. The song was released through Interscope and Kidinakorner on March 11, 2022, as the lead single from the band's sixth studio album, Mercury – Acts 1 & 2.[1] It was written by Dan Reynolds, Wayne Sermon, Ben McKee, Daniel Platzman, and its producers Mattman & Robin.
   .col-lg-4
        .bs-component 
        .card.border-primary.mb-3(style='max-width: 20rem;')
            .card-header Levitating
            .card-body
              h4.card-title 
                a(href='/songs/Levitating') Wildest Dreams(Taylor's Version)
              p.card-text
                | A re-recorded version of "Wildest Dreams", titled "Wildest Dreams (Taylor's Version)", was released by Swift on September 17, 2021, via Republic Records. 